.hide {
    display: none !important;
}

.req {
    content: "*";
    margin-left: 5px;
    color: #f00;
}

.pull-right {
    float: right !important;
}


.pull-left {
    float: left !important;
}

.btn {
    box-shadow: none !important;
}

    .btn:hover, .btn:focus {
        transform: none !important;
    }


.k-header {
    padding: 10px;
}

.k-icon {
    color: #fff !important;
}

.k-grid td {
    border-width: 0 0 1px 0 !important;
}

.widget-header {
    padding: 0 20px !important;
}

.widget .widget-header h4 {
    padding: 15px 0px !important;
}

.widget .widget-header .btn {
    margin-top: 10px !important;
}

.widget-content-area {
    padding: 10px 20px 20px 20px;
}

.input-group mapInput .input-group-addon {
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px #ccc solid;
    border-left: 0px;
}

.form-horizontal {
    padding: 10px 10px 0 10px;
}

    .form-horizontal .k-widget.k-dropdown.k-header {
        width: 100% !important;
        background: #fff;
        border: 1px solid #bfc9d4;
        border-radius: 5px;
    }

    .form-horizontal .k-dropdown.k-header {
        padding: 0 !important;
    }


        .form-horizontal .k-dropdown.k-header .k-dropdown-wrap {
            padding: 10px !important;
            background: #fff !important;
        }

    .form-horizontal .with-errors {
        color: red;
        font-size: 11px;
        position: absolute;
        right: 10px;
        bottom: -6px;
        background: #fff;
        padding: 4px;
        height: 14px;
        line-height: 6px;
    }

    .form-horizontal .form-group {
        position: relative;
        margin-bottom: 20px !important;
    }

    .form-horizontal label {
        margin-bottom: 0px !important;
        position: absolute;
        font-size: 14px;
        z-index: 9999;
        background: #fff;
        padding: 3px;
        left: 15px;
        top: -12px;
    }

    .form-horizontal .form-control {
        padding: 1rem 1.25rem .50rem 1.25rem;
        font-size: 14px !important;
    }

        .form-horizontal .form-control::-webkit-input-placeholder {
            font-size: 14px !important;
            display: none;
        }

        .form-horizontal .form-control::-ms-input-placeholder {
            font-size: 14px !important;
            display: none;
        }

        .form-horizontal .form-control::placeholder {
            font-size: 14px !important;
            display: none;
        }


    .form-horizontal .has-error.has-danger .form-control {
        border-color: red;
    }

        .form-horizontal .has-error.has-danger .form-control::-webkit-input-placeholder { /* Edge */
            color: red;
        }

        .form-horizontal .has-error.has-danger .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
        }

        .form-horizontal .has-error.has-danger .form-control::placeholder {
            color: red;
        }
.cover {
    padding-top: 20px;
    min-height: 150px;
}

.cover-head {
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 100%;
}

.cover-content {
    padding: 0 15px;
    height: 80px;
    margin-bottom: 15px;
    /* border: 1px #e0e6ed solid; */
    /* box-shadow: #e0e6ed 3px 3px 5px; */
    /* border-bottom: 1px #ccc solid; */
}

    .cover-content > .cover-photo {
        border-radius: 50%;
        border: 6px solid rgb(255 255 255 / 70%);
        border: 6px solid rgb(228 228 228 / 70%);
        height: 120px;
        width: 120px;
        margin-top: -60px !important;
        float: left;
    }

    .cover-content > .cover-label {
        float: left;
        padding: 10px 20px;
        font-size: 13px;
    }

        .cover-content > .cover-label > span {
            font-weight: normal;
            display: block;
        }

        .cover-content > .cover-label > strong {
            font-weight: bold;
            display: block;
        }



.tab-pane {
    padding: 20px !important;
    background: #fff;
    border: 1px #e0e6ed solid;
    border-top: none !important;
}

.filtermenu h5 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.folder-list {
    padding: 0px !important;
}

    .folder-list li a {
        color: #666666;
        display: block;
        padding: 5px 0;
        cursor: pointer;
    }

        .folder-list li a.active {
            font-weight: bold;
        }

    .folder-list li {
        border-bottom: 1px solid #e7eaec;
        display: block;
    }

        .folder-list li i {
            margin-right: 8px;
            /* color: #3d4d5d; */
        }

.category-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
    cursor: pointer;
}

    .category-list li a.active {
        font-weight: bold;
    }

.category-list li {
    display: block;
}

    .category-list li i {
        margin-right: 8px;
        color: #3d4d5d;
    }

    .category-list li a .text-navy {
        color: #1ab394;
    }

    .category-list li a .text-primary {
        color: #1c84c6;
    }

    .category-list li a .text-info {
        color: #23c6c8;
    }

    .category-list li a .text-danger {
        color: #EF5352;
    }

    .category-list li a .text-warning {
        color: #F8AC59;
    }

.file-manager h5.tag-title {
    margin-top: 20px;
}

.tag-list li {
    float: left;
}

    .tag-list li a {
        font-size: 10px;
        background-color: #f3f3f4;
        padding: 5px 12px;
        color: inherit;
        border-radius: 2px;
        border: 1px solid #e7eaec;
        margin-right: 5px;
        margin-top: 5px;
        display: block;
        cursor: pointer;
    }

        .tag-list li a.active {
            font-weight: bold;
        }

/**RadioButtonlar için*/


.akilliRadioGrup {
    padding-top: 0px !important;
}

    .akilliRadioGrup > input {
        display: none;
    }

    .akilliRadioGrup > label {
        border: 1px solid #ccc;
        padding: 7px 6px 7px 6px;
        margin: 0px -1px 0px 0px;
        float: left;
        cursor: pointer;
    }

    .akilliRadioGrup > input:checked + label {
        background-color: #1ab394;
        color: #fff;
    }

form fieldset {
    border: 1px #cfcfcf solid !important;
    padding: 0px 25px 5px 25px !important;
    margin: 0 0 20px 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border-radius: 0px;
}




    form fieldset legend {
        font-size: 16px !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        color: #000;
        margin-left: 15px;
        margin-bottom: 15px !important;
    }

.fixedStart #fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: #2AA9E0;
    border-radius: 50%;
    box-shadow: 0 0 6px #878787;
    cursor: pointer;
    z-index: 3;
    background-position: 46% center;
    background-size: 16px auto;
    background-repeat: no-repeat;
}

.fixedStart input {
    display: none;
}

.fixedStart #fixed ~ .fix-buttons {
    z-index: 2;
    position: fixed;
    border-radius: 50%;
    bottom: 27px;
    right: 25px;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
}

.fixedStart .fix-buttons a {
    float: left;
    margin-left: 12px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: white;
    padding: 2px;
}

    .fixedStart .fix-buttons a i {
        padding: 5px;
        width: 30px;
        line-height: 28px;
        text-align: center;
        box-sizing: content-box;
    }


.fixedStart #fixed i {
    padding: 12px;
    width: 25px;
    line-height: 26px;
    text-align: center;
    box-sizing: content-box;
    color: white;
}

.fixedStart input:checked ~ #fixed ~ .fix-buttons {
    opacity: 1;
}

.fixedStart input:checked ~ #fixed ~ .fix-buttons {
    right: 90px;
}

.fixedStart .fix-buttons a:nth-child(1) {
    background: #004A7F;
}

.fixedStart .fix-buttons a:nth-child(2) {
    background: orange;
}

.fixedStart .fix-buttons a:nth-child(3) {
    background: #DD4B39;
}

.fixedStart .fix-buttons a:nth-child(4) {
    background: #a0a0a0;
}

.fixedStart .fix-buttons a:nth-child(5) {
    background: #89b744;
}

.fixedStart .fix-buttons a:nth-child(6) {
    background: #1d6a75;
}

.fixedStart .fix-buttons a:nth-child(7) {
    background: #4E5EF1;
}

.fixedStart .fix-buttons a:nth-child(8) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(9) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(10) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(11) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(12) {
    background: #4E5EF1;
}

.fixedStart .fix-buttons a:nth-child(13) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(14) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(15) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(16) {
    background: #de5f5f;
}

.fixedStart .fix-buttons a:nth-child(17) {
    background: #de5f5f;
}