@using GridMvc.Html
@using Isik.SAMS.Models.Entity

@model IEnumerable<SAMS_Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-8 col-md-8 col-sm-8 col-8">
                    <h4>Department List</h4>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4 col-4">
                    <a class="btn btn-primary btn-sm pull-right ml-1" data-task="Insert" data-method="GET" data-toggle="modal" data-href="@Url.Action("Insert","Department")">
                        <i class="icon-plus-circle"></i> Create New Department
                    </a>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            @Html.Grid(Model).Columns(columns =>
       {
       columns.Add(c => c.DepartmentName).Titled("Department Name");
       columns.Add(c => c.Id).Titled("ID").Filterable(true);
       columns.Add()
           .Titled("")
           .Filterable(true)
           .Sanitized(false)
           .Encoded(false)
           .RenderValueAs(c => @<text><a class="icon-trash-1" href="/Department/Delete/@c.Id"></a> <a style="margin-left:15px;" class="icon-edit" data-task="Insert" data-method="GET" data-href="@Url.Action("Update","Department", new { id = c.Id})"></a></text>);
            @*columns.Add()
            .Titled("")
            .Filterable(true)
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(c => @<text><a class="icon-edit" data-task="Insert" data-method="GET" data-href="@Url.Action("Update","Department", new { id = c.Id})"></a></text>);*@


            }).WithPaging(25).Sortable(true).EmptyText("There is no data available.")
        </div>
    </div>
</div>