@model Isik.SAMS.Models.Entity.SAMS_Department
@{
    ViewBag.Title = "Update Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["UserId"] != null && Session["AdminId"] == null)
    {
        Response.Redirect("/Home/Index");
    }
    else if (Session["UserId"] == null && Session["AdminId"] == null)
    {
        Response.Redirect("/Login/Index");
    }
}
@using (Html.BeginForm("Update", "Department", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)


    <div class="row">

        <div class="form-group col-md-6">
            <label class="req" for="DepartmentName">Department Name</label>
            @Html.TextBoxFor(model => model.DepartmentName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Please enter a department name."}
            })
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Close</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Save</button>
    </div>

}
