@model Isik.SAMS.Models.Entity.SAMS_Department
@{
    ViewBag.Title = "Update Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Update", "Department", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)


    <div class="row">
        <div class="form-group col-md-12">
            <label class="req" for="DepartmentName">Department Name</label>
            @Html.TextBoxFor(model => model.DepartmentName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Please enter a department name."},
                           {"required", "" },
           {"oninvalid","this.setCustomValidity('Please enter a department name.')" },
           {"oninput","this.setCustomValidity('')" }
            })
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Close</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Save</button>
    </div>

}
