@model Isik.SAMS.Models.Entity.SAMS_StudentApplications
@{
    ViewBag.Title = "Student Application";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="radio-buttons">
    <p style="text-align:center; font-size:22px; font-weight:bold;">APPLICATION FORM</p>
    <div class="form-check" style="margin-top:20px">
        @{
            foreach (var a in (Dictionary<int, string>)ViewBag.Programs)
            {
                string img = a.Value + ".jpg";
                <div class="inline @a.Value-div">
                    @Html.RadioButtonFor(model => model.ProgramId, a.Key, new { @id = a.Value, @class = "pull-right" })
                    <label for="@a.Value">
                        <img class="img" src="~/Assets/img/@img" onerror="ImageError(this,'/Assets/img/unkown-profile-foto.jpg')" /><br />
                        @a.Value
                    </label>
                </div>
            }
        }
        <div class="buttons">
            <button class="btn btn-primary pull-right" type="submit" onclick="redirect(); return false;">Next</button>
        </div>
    </div>
</div>

<script>

    function redirect() {
        var rblPrograms = document.getElementsByName("ProgramId");
        for (i = 0; i < rblPrograms.length; i++) {
            if (rblPrograms[i].checked) {
                return location.href = "/StudentApplication/InsertInitial?id=" + rblPrograms[i].value;
            }
        }
    }
</script>


