@{
    ViewBag.Title = "Application Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item {
        border-radius: 5px;
        font-size: 11px;
        font-weight: 700;
        color: #888ea8;
        padding: 8px 16px 8px 8px;
        cursor: pointer;
    }
</style>

<script>
    function isDefaultFunction(data) {
        if (data == 0) {
            return '<i style="color:rgb(185, 1, 0);margin-left:31%;" class="icon-minus"></i>'
        }
        else {
            return '<i style="color:rgb(41, 180, 0);margin-left:31%;" class="icon-ok center"></i>'
        }
    }

</script>
<div class="col-12">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="cover">
                <div class="cover-head" style="background-image: url('/Assets/img/account1.jpg');">
                    <span class="cover-label" style="font-size:18px;background:#fff;padding:5px 10px;border-radius:2px;float:right;">
                    </span>
                </div>
                <div class="cover-content">
                    <span class="cover-label">
                        <strong style="color:#304aca;text-transform:uppercase">Volkan Davşan</strong>
                        <span>volkandavsn@gmail.com</span>
                    </span>

                    <span class="cover-label">
                        <strong>Program</strong>
                        <span>Bachelor</span>
                    </span>
                    <span class="cover-label">
                        <strong>Department</strong>
                        <span>Computer Science</span>
                    </span>
                    <span class="cover-label">

                        <strong>Application Date</strong>
                        <span>28.02.2014</span>

                    </span>

                    <div class="pull-right">
                        <a class="btn btn-info btn-sm pull-right ml-1" data-task="Insert" data-method="GET" data-href="@Url.Action("Insert","Account")">
                            <i class="icon-download"></i> Dosyaları İndir
                        </a>
                        <a class="btn btn-danger btn-sm pull-right ml-1" data-task="Insert" data-method="GET" data-href="@Url.Action("Insert","Account")">
                            <i class="icon-cancel-2"></i> Reddet
                        </a>
                        <a class="btn btn-success btn-sm pull-right ml-1" data-task="Insert" data-method="GET" data-href="@Url.Action("Insert","Account")">
                            <i class="icon-ok-2"></i> Onayla
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area animated-underline-content">
            <ul class="nav nav-tabs" id="simpletab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Personal Information</a>
                </li>
                <li class="nav-item" data-href="/EMP/VWEMP_Leave/DataSource">
                    <a class="nav-link" id="leave-tab2" data-toggle="tab" href="#leave" role="tab" aria-controls="leave" aria-selected="false">Educational Information</a>
                </li>
                <li class="nav-item pull-right">
                    <a class="nav-link" id="employeeFiles-tab2" data-toggle="tab" href="#employeeFiles" role="tab" aria-controls="employeeFiles" aria-selected="false">Documents</a>
                </li>


            </ul>
            <div class="tab-content" id="simpletabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Name</strong></div>
                                    <div class="pull-right">Volkan </div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Surname</strong></div>
                                    <div class="pull-right">Davşan</div>
                                </div>

                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Gender</strong></div>
                                    <div class="pull-right">Male</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Passport Number</strong></div>
                                    <div class="pull-right">1535353531</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Date of Birth</strong></div>
                                    <div class="pull-right">30.10.1994</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Country of Birth</strong></div>
                                    <div class="pull-right">Turkey</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Citizenship</strong></div>
                                    <div class="pull-right">Belgium</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>City of Birth</strong></div>
                                    <div class="pull-right">Istanbul</div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6">

                                <div class="clearfix">
                                    <div class="pull-left"><strong>Phone</strong></div>
                                    <div class="pull-right">05379598444</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Adress </strong></div>
                                    <div class="pull-right">Aşağı Dudullu Mh. Tuğrul Bey Sk.</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Country of Residence</strong></div>
                                    <div class="pull-right">Iceland</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Father's Name</strong></div>
                                    <div class="pull-right">Salih</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Mother's Name</strong></div>
                                    <div class="pull-right"> Ali</div>
                                </div>
                                <hr>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="statuschanges" role="tabpanel" aria-labelledby="statuschanges-tab" data-href="/EMP/VWEMP_EmployeeChanges/DataSource">
                    <div class="k-widget k-grid" id="VWEMP_EmployeeChanges" data-role="grid"><div class="k-header k-grid-toolbar k-grid-top"><button class="pull-right k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span></button><button class="pull-right k-button k-button-icontext k-grid-excel" type="button"><span class="k-icon k-i-excel"></span></button></div><div class="k-grid-header" style="padding-right: 8px;"><div class="k-grid-header-wrap k-auto-scrollable" data-role="resizable" style="touch-action: none;"><table role="grid" tabindex="-1"><colgroup><col style="width:350px"><col style="width:250px"><col style="width:250px"><col style="width:250px"><col style="width:250px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:400px"><col style="width:200px"><col style="width:350px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"></colgroup><thead role="rowgroup"><tr role="row"><th class="k-header k-filterable k-with-icon" data-field="statusChangeId_Title" data-index="0" data-title="Durum Değişikliği" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=statusChangeId_Title-asc" tabindex="-1">Durum Değişikliği</a></th><th class="k-header k-filterable k-with-icon" data-field="companyId_Title" data-index="1" data-title="Şirket" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=companyId_Title-asc" tabindex="-1">Şirket</a></th><th class="k-header k-filterable k-with-icon" data-field="branchId_Title" data-index="2" data-title="Şube" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=branchId_Title-asc" tabindex="-1">Şube</a></th><th class="k-header k-filterable k-with-icon" data-field="sectionId_Title" data-index="3" data-title="Bölüm" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=sectionId_Title-asc" tabindex="-1">Bölüm</a></th><th class="k-header k-filterable k-with-icon" data-field="departmentId_Title" data-index="4" data-title="Departman" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=departmentId_Title-asc" tabindex="-1">Departman</a></th><th class="k-header k-filterable k-with-icon" data-field="unitId_Title" data-index="5" data-title="Birim" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=unitId_Title-asc" tabindex="-1">Birim</a></th><th class="k-header k-filterable k-with-icon" data-field="titleId_Title" data-index="6" data-title="Ünvan" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=titleId_Title-asc" tabindex="-1">Ünvan</a></th><th class="k-header k-filterable k-with-icon" data-field="expenseCenterId_Title" data-index="7" data-title="Masraf Merkezi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=expenseCenterId_Title-asc" tabindex="-1">Masraf Merkezi</a></th><th class="k-header k-filterable k-with-icon" data-field="manager1Id_Title" data-index="8" data-title="1. Yönetici" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=manager1Id_Title-asc" tabindex="-1">1. Yönetici</a></th><th class="k-header k-filterable k-with-icon" data-field="manager2Id_Title" data-index="9" data-title="2. Yönetici" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=manager2Id_Title-asc" tabindex="-1">2. Yönetici</a></th><th class="k-header k-filterable k-with-icon" data-field="gradeId_Title" data-index="10" data-title="Kademe" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=gradeId_Title-asc" tabindex="-1">Kademe</a></th><th class="k-header k-filterable k-with-icon" data-field="insuranceJobId_Title" data-index="11" data-title="Sigorta Meslek Kodu" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=insuranceJobId_Title-asc" tabindex="-1">Sigorta Meslek Kodu</a></th><th class="k-header k-filterable k-with-icon" data-field="insuranceType_Title" data-index="12" data-title="Sigorta Tipi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=insuranceType_Title-asc" tabindex="-1">Sigorta Tipi</a></th><th class="k-header k-filterable k-with-icon" data-field="contractId_Title" data-index="13" data-title="Sözleşme" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=contractId_Title-asc" tabindex="-1">Sözleşme</a></th><th class="k-header k-filterable k-with-icon" data-field="contractEndDate" data-index="14" data-title="Sözleşme Bitiş Tarihi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=contractEndDate-asc" tabindex="-1">Sözleşme Bitiş Tarihi</a></th><th class="k-header k-filterable k-with-icon" data-field="workingType_Title" data-index="15" data-title="Çalışma Şekli" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=workingType_Title-asc" tabindex="-1">Çalışma Şekli</a></th><th class="k-header k-filterable k-with-icon" data-field="locationType_Title" data-index="16" data-title="Lokasyon" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=locationType_Title-asc" tabindex="-1">Lokasyon</a></th><th class="k-header k-filterable k-with-icon" data-field="validityStartDate" data-index="17" data-title="Geçerlilik Başlangıç" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=validityStartDate-asc" tabindex="-1">Geçerlilik Başlangıç</a></th><th class="k-header k-filterable k-with-icon" data-field="validityEndDate" data-index="18" data-title="Geçerlilik Bitiş" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_EmployeeChanges-sort=validityEndDate-asc" tabindex="-1">Geçerlilik Bitiş</a></th></tr></thead></table></div></div><div class="k-grid-content" style="height:365px"><table role="grid" tabindex="0" data-role="selectable" class="k-selectable" style="touch-action: none;"><colgroup><col style="width:350px"><col style="width:250px"><col style="width:250px"><col style="width:250px"><col style="width:250px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:400px"><col style="width:200px"><col style="width:350px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"><col style="width:200px"></colgroup><tbody role="rowgroup"><tr class="k-no-data"><td colspan="19"></td></tr></tbody></table></div><div class="k-pager-wrap k-grid-pager k-widget k-floatwrap" data-role="pager"><a class="k-link k-pager-nav k-state-disabled k-pager-first" data-page="1" href="#" title="İlk sayfaya git"><span class="k-icon k-i-seek-w">seek-w</span></a><a class="k-link k-pager-nav k-state-disabled" data-page="0" href="#" title="Bir önceki sayfaya git"><span class="k-icon k-i-arrow-w">arrow-w</span></a><ul class="k-pager-numbers k-reset"><li><span class="k-state-selected" data-page="1">1</span></li></ul><a class="k-link k-pager-nav k-state-disabled" data-page="2" href="#" title="Bir sonraki sayfaya git"><span class="k-icon k-i-arrow-e">arrow-e</span></a><a class="k-link k-pager-nav k-state-disabled k-pager-last" data-page="1" href="#" title="Son sayfaya git"><span class="k-icon k-i-seek-e">seek-e</span></a><span class="k-pager-sizes k-label"><span title="" class="k-widget k-dropdown k-header" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="7b2e57dc-0731-4d79-82fb-3b287725b3a7" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">10</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-i-arrow-s">select</span></span></span><select data-role="dropdownlist" style="display: none;"><option value="10" selected="selected">10</option><option value="100">100</option></select></span>Sayfa başına ürün</span><a class="k-pager-refresh k-link" href="/EMP/VWEMP_EmployeeChanges/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1" title="Yenile"><span class="k-icon k-i-refresh">Yenile</span></a><span class="k-pager-info k-label">No items to display</span></div></div>
                    <script>
	jQuery(function(){jQuery("#VWEMP_EmployeeChanges").kendoGrid({"excelExport":Kendo_ExcelExport,"dataBound":Kendo_GridLoad,"change":Kendo_GridChange,"columns":[{"title":"Durum Değişikliği","headerAttributes":{"data-field":"statusChangeId_Title","data-title":"Durum Değişikliği"},"width":"350px","field":"statusChangeId_Title","encoded":true},{"title":"Şirket","headerAttributes":{"data-field":"companyId_Title","data-title":"Şirket"},"width":"250px","field":"companyId_Title","encoded":true},{"title":"Şube","headerAttributes":{"data-field":"branchId_Title","data-title":"Şube"},"width":"250px","field":"branchId_Title","encoded":true},{"title":"Bölüm","headerAttributes":{"data-field":"sectionId_Title","data-title":"Bölüm"},"width":"250px","field":"sectionId_Title","encoded":true},{"title":"Departman","headerAttributes":{"data-field":"departmentId_Title","data-title":"Departman"},"width":"250px","field":"departmentId_Title","encoded":true},{"title":"Birim","headerAttributes":{"data-field":"unitId_Title","data-title":"Birim"},"width":"200px","field":"unitId_Title","encoded":true},{"title":"Ünvan","headerAttributes":{"data-field":"titleId_Title","data-title":"Ünvan"},"width":"200px","field":"titleId_Title","encoded":true},{"title":"Masraf Merkezi","headerAttributes":{"data-field":"expenseCenterId_Title","data-title":"Masraf Merkezi"},"width":"200px","field":"expenseCenterId_Title","encoded":true},{"title":"1. Yönetici","headerAttributes":{"data-field":"manager1Id_Title","data-title":"1. Yönetici"},"width":"200px","field":"manager1Id_Title","encoded":true},{"title":"2. Yönetici","headerAttributes":{"data-field":"manager2Id_Title","data-title":"2. Yönetici"},"width":"200px","field":"manager2Id_Title","encoded":true},{"title":"Kademe","headerAttributes":{"data-field":"gradeId_Title","data-title":"Kademe"},"width":"200px","field":"gradeId_Title","encoded":true},{"title":"Sigorta Meslek Kodu","headerAttributes":{"data-field":"insuranceJobId_Title","data-title":"Sigorta Meslek Kodu"},"width":"400px","field":"insuranceJobId_Title","encoded":true},{"title":"Sigorta Tipi","headerAttributes":{"data-field":"insuranceType_Title","data-title":"Sigorta Tipi"},"width":"200px","field":"insuranceType_Title","encoded":true},{"title":"Sözleşme","headerAttributes":{"data-field":"contractId_Title","data-title":"Sözleşme"},"width":"350px","field":"contractId_Title","encoded":true},{"title":"Sözleşme Bitiş Tarihi","headerAttributes":{"data-field":"contractEndDate","data-title":"Sözleşme Bitiş Tarihi"},"width":"200px","field":"contractEndDate","format":"{0:d.MM.yyyy}","encoded":true},{"title":"Çalışma Şekli","headerAttributes":{"data-field":"workingType_Title","data-title":"Çalışma Şekli"},"width":"200px","field":"workingType_Title","encoded":true},{"title":"Lokasyon","headerAttributes":{"data-field":"locationType_Title","data-title":"Lokasyon"},"width":"200px","field":"locationType_Title","encoded":true},{"title":"Geçerlilik Başlangıç","headerAttributes":{"data-field":"validityStartDate","data-title":"Geçerlilik Başlangıç"},"width":"200px","field":"validityStartDate","format":"{0:d.MM.yyyy}","encoded":true},{"title":"Geçerlilik Bitiş","headerAttributes":{"data-field":"validityEndDate","data-title":"Geçerlilik Bitiş"},"width":"200px","field":"validityEndDate","format":"{0:d.MM.yyyy}","encoded":true}],"pageable":{"autoBind":false,"refresh":true,"pageSizes":[10,100],"buttonCount":10,"messages":{"allPages":"Tümünü getir","itemsPerPage":"Sayfa başına ürün","first":"İlk sayfaya git","previous":"Bir önceki sayfaya git","next":"Bir sonraki sayfaya git","last":"Son sayfaya git","refresh":"Yenile"}},"sortable":{"mode":"multiple"},"selectable":"Single, Row","filterable":{"operators":{"string":{"contains":"İçeriyor","startswith":"İle Başlar","eq":"Eşit","neq":"Eşit Değil","endswith":"İle Biter","doesnotcontain":"İçermiyor"}}},"excel":{"fileName":"Çalışan Kartı-5.06.2021 12:49:26.xlsx","allPages":true},"pdf":{"allPages":true,"fileName":"Çalışan Kartı-5.06.2021 12:49:26.pdf","landscape":true,"margin":{"top":1,"right":1,"bottom":1,"left":1},"title":"Çalışan Kartı"},"resizable":true,"scrollable":{"height":"365px"},"toolbar":{"command":[{"name":null,"attr":" class=\"pull-right hide\"","buttonType":"ImageAndText","text":"Export to PDF"},{"name":null,"attr":" class=\"pull-right hide\" type=\"button\"","buttonType":"ImageAndText","text":"Export to Excel"}]},"noRecords":{"template":"Görüntülenecek bir kayıt bulunamadı."},"messages":{"noRecords":"No records available."},"autoBind":false,"dataSource":{"type":(function(){if(kendo.data.transports['aspnetmvc-ajax']){return 'aspnetmvc-ajax';} else{throw new Error('The kendo.aspnetmvc.min.js script is not included.');}})(),"transport":{"read":{"url":"/EMP/VWEMP_EmployeeChanges/DataSource"},"prefix":""},"pageSize":25,"page":1,"total":0,"serverPaging":true,"serverSorting":true,"serverFiltering":true,"serverGrouping":true,"serverAggregates":true,"filter":[{"field":"employeeId","operator":"eq","value":"64d6abed-8e83-4775-aedc-af494725dfb1"}],"schema":{"data":"Data","total":"Total","errors":"Errors","model":{"fields":{"employeeId":{"type":"string"},"statusChangeId":{"type":"string","defaultValue":null},"companyId":{"type":"string","defaultValue":null},"branchId":{"type":"string","defaultValue":null},"sectionId":{"type":"string","defaultValue":null},"departmentId":{"type":"string","defaultValue":null},"unitId":{"type":"string","defaultValue":null},"titleId":{"type":"string","defaultValue":null},"manager1Id":{"type":"string","defaultValue":null},"manager2Id":{"type":"string","defaultValue":null},"insuranceJobId":{"type":"string","defaultValue":null},"insuranceType":{"type":"number","defaultValue":null},"gradeId":{"type":"string","defaultValue":null},"contractId":{"type":"string","defaultValue":null},"contractEndDate":{"type":"date","defaultValue":null},"locationType":{"type":"number","defaultValue":null},"workingType":{"type":"number","defaultValue":null},"validityStartDate":{"type":"date","defaultValue":null},"validityEndDate":{"type":"date","defaultValue":null},"jobStartDate":{"type":"date","defaultValue":null},"dismissalDate":{"type":"date","defaultValue":null},"dismissalReasonsId":{"type":"string","defaultValue":null},"dismissalDescription":{"type":"string"},"pid":{"type":"string","defaultValue":null},"expenseCenterId":{"type":"string","defaultValue":null},"dismissalType":{"type":"number","defaultValue":null},"dismissalReasonsId_Title":{"type":"string"},"createdby_Title":{"type":"string"},"changedby_Title":{"type":"string"},"employeeId_Title":{"type":"string"},"statusChangeId_Title":{"type":"string"},"companyId_Title":{"type":"string"},"branchId_Title":{"type":"string"},"sectionId_Title":{"type":"string"},"departmentId_Title":{"type":"string"},"unitId_Title":{"type":"string"},"titleId_Title":{"type":"string"},"insuranceJobId_Title":{"type":"string"},"insuranceType_Title":{"type":"string"},"manager1Id_Title":{"type":"string"},"manager2Id_Title":{"type":"string"},"gradeId_Title":{"type":"string"},"expenseCenterId_Title":{"type":"string"},"contractId_Title":{"type":"string"},"locationType_Title":{"type":"string"},"workingType_Title":{"type":"string"},"dismissalType_Title":{"type":"string"},"id":{"type":"string"},"created":{"type":"date","defaultValue":null},"changed":{"type":"date","defaultValue":null},"changedby":{"type":"string","defaultValue":null},"createdby":{"type":"string","defaultValue":null}}}}},"navigatable":true});});
                    </script>
                </div>
                <div class="tab-pane fade" id="leave" role="tabpanel" aria-labelledby="leave-tab">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Blue Card Owner (Turkish Applicants Only)</strong></div>
                                    <div class="pull-right">No</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Dual Citizenship</strong></div>
                                    <div class="pull-right">Yes</div>
                                </div>

                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Previously studied at a university</strong></div>
                                    <div class="pull-right">Yes</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Language Proficiency</strong></div>
                                    <div class="pull-right">Native Speaker</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Language Exam Score</strong></div>
                                    <div class="pull-right">90</div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-md-6">

                                <div class="clearfix">
                                    <div class="pull-left"><strong>Secondary School Name</strong></div>
                                    <div class="pull-right">Işık University</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Graduation Year of Secondary School</strong></div>
                                    <div class="pull-right">2014</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>GPA of Secondary School</strong></div>
                                    <div class="pull-right">3.84</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>Country of Secondary School</strong></div>
                                    <div class="pull-right">Turkey</div>
                                </div>
                                <hr>
                                <div class="clearfix">
                                    <div class="pull-left"><strong>City of Secondary School</strong></div>
                                    <div class="pull-right">Şile</div>
                                </div>
                                <hr>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="healthreport" role="tabpanel" aria-labelledby="healthreport-tab" data-href="/EMP/VWEMP_HealthReport/DataSource">
                    <div class="k-widget k-grid" id="VWEMP_HealthReport" data-role="grid"><div class="k-header k-grid-toolbar k-grid-top"><button class="pull-right k-button k-button-icontext k-grid-pdf"><span class="k-icon k-i-pdf"></span></button><button class="pull-right k-button k-button-icontext k-grid-excel" type="button"><span class="k-icon k-i-excel"></span></button><a class="k-button k-button-icontext " data-method="GET" data-show="always" href="/EMP/VWEMP_HealthReport/Insert?employeeId=64d6abed-8e83-4775-aedc-af494725dfb1"><span></span><i class="icon-plus-circled"></i> Sağlık Raporu Oluştur</a><a class="k-button k-button-icontext " data-method="GET" data-show="single" href="/EMP/VWEMP_HealthReport/Update"><span></span><i data-original-title="Sağlık Raporu Düzenle" class="icon-edit"></i></a><a class="k-button k-button-icontext " data-ask="" href="/EMP/VWEMP_HealthReport/Delete"><span></span><i data-original-title="Sağlık Raporu Sil" class="icon-trash"></i></a></div><div class="k-grid-header" style="padding-right: 8px;"><div class="k-grid-header-wrap k-auto-scrollable" data-role="resizable" style="touch-action: none;"><table role="grid" tabindex="-1"><colgroup><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"></colgroup><thead role="rowgroup"><tr role="row"><th class="k-header k-filterable k-with-icon" data-field="type_Title" data-index="0" data-title="Rapor Tipi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=type_Title-asc" tabindex="-1">Rapor Tipi</a></th><th class="k-header k-filterable k-with-icon" data-field="startDate" data-index="1" data-title="Rapor Başlangıç Tarihi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=startDate-asc" tabindex="-1">Rapor Başlangıç Tarihi</a></th><th class="k-header k-filterable k-with-icon" data-field="endDate" data-index="2" data-title="Rapor Bitiş Tarihi" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=endDate-asc" tabindex="-1">Rapor Bitiş Tarihi</a></th><th class="k-header k-filterable k-with-icon" data-field="status" data-index="3" data-title="Rapor Durumu" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=status-asc" tabindex="-1">Rapor Durumu</a></th><th class="k-header k-filterable k-with-icon" data-field="dayCount" data-index="4" data-title="Raporlu Gün Sayısı" scope="col" data-role="columnsorter"><a class="k-grid-filter" href="javascript:void(0)" tabindex="-1"><span class="k-icon k-filter"></span></a><a class="k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1?VWEMP_HealthReport-sort=dayCount-asc" tabindex="-1">Raporlu Gün Sayısı</a></th></tr></thead></table></div></div><div class="k-grid-content" style="height:365px"><table role="grid" tabindex="0" data-role="selectable" class="k-selectable" style="touch-action: none;"><colgroup><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"><col style="width:150px"></colgroup><tbody role="rowgroup"><tr class="k-no-data"><td colspan="5"></td></tr></tbody></table></div><div class="k-pager-wrap k-grid-pager k-widget k-floatwrap" data-role="pager"><a class="k-link k-pager-nav k-state-disabled k-pager-first" data-page="1" href="#" title="İlk sayfaya git"><span class="k-icon k-i-seek-w">seek-w</span></a><a class="k-link k-pager-nav k-state-disabled" data-page="0" href="#" title="Bir önceki sayfaya git"><span class="k-icon k-i-arrow-w">arrow-w</span></a><ul class="k-pager-numbers k-reset"><li><span class="k-state-selected" data-page="1">1</span></li></ul><a class="k-link k-pager-nav k-state-disabled" data-page="2" href="#" title="Bir sonraki sayfaya git"><span class="k-icon k-i-arrow-e">arrow-e</span></a><a class="k-link k-pager-nav k-state-disabled k-pager-last" data-page="1" href="#" title="Son sayfaya git"><span class="k-icon k-i-seek-e">seek-e</span></a><span class="k-pager-sizes k-label"><span title="" class="k-widget k-dropdown k-header" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-readonly="false" aria-busy="false" aria-activedescendant="362dce9d-8d1c-4288-ba2a-69f89f283381" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">10</span><span unselectable="on" class="k-select"><span unselectable="on" class="k-icon k-i-arrow-s">select</span></span></span><select data-role="dropdownlist" style="display: none;"><option value="10" selected="selected">10</option><option value="100">100</option></select></span>Sayfa başına ürün</span><a class="k-pager-refresh k-link" href="/EMP/VWEMP_HealthReport/DataSource/64d6abed-8e83-4775-aedc-af494725dfb1" title="Yenile"><span class="k-icon k-i-refresh">Yenile</span></a><span class="k-pager-info k-label">No items to display</span></div></div>
                    <script>
	jQuery(function(){jQuery("#VWEMP_HealthReport").kendoGrid({"excelExport":Kendo_ExcelExport,"dataBound":Kendo_GridLoad,"change":Kendo_GridChange,"columns":[{"title":"Rapor Tipi","headerAttributes":{"data-field":"type_Title","data-title":"Rapor Tipi"},"width":"150px","field":"type_Title","encoded":true},{"title":"Rapor Başlangıç Tarihi","headerAttributes":{"data-field":"startDate","data-title":"Rapor Başlangıç Tarihi"},"width":"150px","field":"startDate","format":"{0:d.MM.yyyy}","encoded":true},{"title":"Rapor Bitiş Tarihi","headerAttributes":{"data-field":"endDate","data-title":"Rapor Bitiş Tarihi"},"width":"150px","field":"endDate","format":"{0:d.MM.yyyy}","encoded":true},{"title":"Rapor Durumu","headerAttributes":{"data-field":"status","data-title":"Rapor Durumu"},"width":"150px","field":"status","encoded":true},{"title":"Raporlu Gün Sayısı","headerAttributes":{"data-field":"dayCount","data-title":"Raporlu Gün Sayısı"},"width":"150px","field":"dayCount","encoded":true}],"pageable":{"autoBind":false,"refresh":true,"pageSizes":[10,100],"buttonCount":10,"messages":{"allPages":"Tümünü getir","itemsPerPage":"Sayfa başına ürün","first":"İlk sayfaya git","previous":"Bir önceki sayfaya git","next":"Bir sonraki sayfaya git","last":"Son sayfaya git","refresh":"Yenile"}},"sortable":{"mode":"multiple"},"selectable":"Single, Row","filterable":{"operators":{"string":{"contains":"İçeriyor","startswith":"İle Başlar","eq":"Eşit","neq":"Eşit Değil","endswith":"İle Biter","doesnotcontain":"İçermiyor"}}},"excel":{"fileName":"Çalışan Kartı-5.06.2021 12:49:26.xlsx","allPages":true},"pdf":{"allPages":true,"fileName":"Çalışan Kartı-5.06.2021 12:49:26.pdf","landscape":true,"margin":{"top":1,"right":1,"bottom":1,"left":1},"title":"Çalışan Kartı"},"resizable":true,"scrollable":{"height":"365px"},"toolbar":{"command":[{"name":null,"attr":" class=\"pull-right hide\"","buttonType":"ImageAndText","text":"Export to PDF"},{"name":null,"attr":" class=\"pull-right hide\" type=\"button\"","buttonType":"ImageAndText","text":"Export to Excel"},{"name":null,"attr":" data-show=\"always\" data-method=\"GET\"","buttonType":"ImageAndText","text":"\u003ci class=\u0027icon-plus-circled\u0027\u003e\u003c/i\u003e Sağlık Raporu Oluştur"},{"name":null,"attr":" data-show=\"single\" data-method=\"GET\"","buttonType":"ImageAndText","text":"\u003ci data-original-title=\u0027Sağlık Raporu Düzenle\u0027 class=\u0027icon-edit\u0027\u003e\u003c/i\u003e"},{"name":null,"attr":" data-ask=\"\"","buttonType":"ImageAndText","text":"\u003ci data-original-title=\u0027Sağlık Raporu Sil\u0027 class=\u0027icon-trash\u0027\u003e\u003c/i\u003e"}]},"noRecords":{"template":"Görüntülenecek bir kayıt bulunamadı."},"messages":{"noRecords":"No records available."},"autoBind":false,"dataSource":{"type":(function(){if(kendo.data.transports['aspnetmvc-ajax']){return 'aspnetmvc-ajax';} else{throw new Error('The kendo.aspnetmvc.min.js script is not included.');}})(),"transport":{"read":{"url":"/EMP/VWEMP_HealthReport/DataSource"},"prefix":""},"pageSize":25,"page":1,"total":0,"serverPaging":true,"serverSorting":true,"serverFiltering":true,"serverGrouping":true,"serverAggregates":true,"filter":[{"field":"employeeId","operator":"eq","value":"64d6abed-8e83-4775-aedc-af494725dfb1"}],"schema":{"data":"Data","total":"Total","errors":"Errors","model":{"fields":{"employeeId":{"type":"string","defaultValue":null},"type":{"type":"number","defaultValue":null},"startDate":{"type":"date","defaultValue":null},"endDate":{"type":"date","defaultValue":null},"status":{"type":"number","defaultValue":null},"dayCount":{"type":"number","defaultValue":null},"createdby_Title":{"type":"string"},"changedby_Title":{"type":"string"},"employeeId_Title":{"type":"string"},"type_Title":{"type":"string"},"status_Title":{"type":"string"},"jobStartDate":{"type":"date","defaultValue":null},"identityNumber":{"type":"string"},"id":{"type":"string"},"created":{"type":"date","defaultValue":null},"changed":{"type":"date","defaultValue":null},"changedby":{"type":"string","defaultValue":null},"createdby":{"type":"string","defaultValue":null}}}}},"navigatable":true});});
                    </script>
                </div>

                <div class="tab-pane fade" id="employeeFiles" role="tabpanel" aria-labelledby="employeeFiles-tab">

                    <div class="clearfix">
                        <fieldset data-filtre="Nüfus Cüzdanı">
                            <legend>High School Transcript</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.doc,.docx,.png,.pdf" data-count="2" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Nüfus Cüzdanı" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 2 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.doc,.docx,.png,.pdf)"><i class="fa fa-upload"></i> High School Transcript </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>High School Transcript</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="Sürücü Belgesi">
                            <legend>Copy of Password / Id Card</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.pdf" data-count="5" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Sürücü Belgesi" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 5 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.pdf)"><i class="fa fa-upload"></i> Copy of Password / Id Card </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Copy of Password / Id Card</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="Özgeçmiş">
                            <legend>Copy of International Exam Score</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.doc,.docx,.png,.pdf" data-count="1" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Özgeçmiş" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 1 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.doc,.docx,.png,.pdf)"><i class="fa fa-upload"></i> Copy of International Exam Score </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Copy of International Exam Score</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="Diploma">
                            <legend>Course Description</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.pdf" data-count="5" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Diploma" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 5 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.pdf)"><i class="fa fa-upload"></i> Course Description </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Course Description</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="İş Başvuru Formu">
                            <legend>Copy of Residence Permit</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar" data-count="2" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="İş Başvuru Formu" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 2 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar)"><i class="fa fa-upload"></i> Copy of Residence Permit </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Copy of Residence Permit</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="SGK İşe Giriş Bildirgesi">
                            <legend>Copy of Equivalence Certificate</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar" data-count="1" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="SGK İşe Giriş Bildirgesi" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 1 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar)"><i class="fa fa-upload"></i> Copy of Equivalence Certificate </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Copy of Equivalence Certificate</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="Evlilik Cüzdan Fotokopisi">
                            <legend>Copy of Bachelor Transcript</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar" data-count="1" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Evlilik Cüzdan Fotokopisi" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 1 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar)"><i class="fa fa-upload"></i> Copy of Bachelor Transcript </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Copy of Bachelor Transcript</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="Adli Sicil Kaydı Fotokopisi">
                            <legend>High School Diploma</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar" data-count="1" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Adli Sicil Kaydı Fotokopisi" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 1 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar)"><i class="fa fa-upload"></i> High School Diploma </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>High School Diploma</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="Banka Hesap Cüzdanı Fotokopisi">
                            <legend>Photograph for Student ID</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar" data-count="1" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Banka Hesap Cüzdanı Fotokopisi" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 1 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar)"><i class="fa fa-upload"></i> Photograph for Student ID </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Photograph for Student ID</strong> does no exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="İşyeri Hekimi/Periyodik Muayene Formu">
                            <legend>English Language Proficiency Score</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar" data-count="99" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="İşyeri Hekimi/Periyodik Muayene Formu" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 99 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar)"><i class="fa fa-upload"></i> English Language Proficiency Score </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>English Language Proficiency Score</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>
                        <fieldset data-filtre="Görev Tanımı">
                            <legend>Other Documents</legend>
                            <div class="fileupload-container" data-required="False" data-extension=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar" data-count="5" data-insert="True" data-autosend="True" data-id="64d6abed-8e83-4775-aedc-af494725dfb1" data-table="EMP_Employee" data-group="Görev Tanımı" data-user="workoftime developer">
                                <div class="drop-container" style="display:none;"> SÜRÜKLE BIRAK ILE DOSYA YÜKLEME YAPABILIRSINIZ.</div>
                                <input type="text" class="form-control hide" value="">
                                <button class="btn btn-info btn-block" data-toggle="tooltip" title="" data-task="upload" type="button" data-original-title="Yükleme Limitiniz 5 Adettir.Kabul edilen uzantılar (.jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf,.rar)"><i class="fa fa-upload"></i> Other Documents </button>
                                <ul class="fileupload-content">
                                    <li class="file-info col-md-12" style="display:block"><strong>Other Documents</strong> does not exist.<br></li>
                                </ul>
                            </div>

                        </fieldset>


                        <script type="text/javascript">
        $(document)
            .on('ready', function () {
                $('#searchableText').keyup(function (e) {
                    if (e.keyCode == 27) {
                        $(this).val('');
                    }
                });
            })
            .on('keyup', '[data-filter="contains"]', function (e) {
                var $value = $(this).val().toLocaleLowerCase();
                var element = $(this).parents("fieldset").siblings('[data-filtre]');
                $.each(element, function (index, item) {
                    var key = $(item).attr('data-filtre').toLocaleLowerCase();
                    if (key.indexOf($value) == -1) {
                        $(item).addClass('hide');
                    } else {
                        $(item).removeClass('hide');
                    }
                });
            })
            ;
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="fixedStart">
    <input type="checkbox" checked id="fixed">
    <label title="" for="fixed" id="fixed"><i class="fa-2x fa fa-plus"> </i></label>
    <div class="fix-buttons">
        <a data-task="Insert" data-method="GET" data-href="/FTM/VWFTM_TaskOperation/Insert?taskId=36fdbd4d-9278-4d37-b078-112fe0946ead&amp;status=12">
            <i data-toggle="tooltip" class="icon-plus-circle" data-original-title="Görevi Üstlen"></i>
        </a>

        <a data-task="Insert" data-method="GET" data-modal="true" data-show="single" data-href="/FTM/VWFTM_Task/Update/36fdbd4d-9278-4d37-b078-112fe0946ead"><i data-toggle="tooltip" title="Görevi DÜzenle" class="fa fa-edit" data-original-title="Görevi Düzenle"></i></a>


        <a data-task="Insert" data-method="GET" data-modal="true" data-show="single" data-href="/FTM/VWFTM_Task/DownloadFiles?taskId=36fdbd4d-9278-4d37-b078-112fe0946ead"><i data-toggle="tooltip" title="" class="fa fa-download" data-original-title="Görev Dosyalarını İndir"></i></a>
        <a  data-task="Insert" data-method="GET" data-href="@Url.Action("Insert","Account")">
            <i data-toggle="tooltip" title ="" class="icon-cancel-2"></i> Reddet
        </a>
    </div>
    </div>*@



