@model Isik.SAMS.Models.Entity.SAMS_Program
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Update", "Program", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "id", "Program" },
    { "data-selector", "modalContainer" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)


    <div class="row">

        <div class="form-group col-md-6">
            <label class="req" for="code">Program Name</label>
            @Html.TextBoxFor(model => model.ProgramName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Please enter a program name."}
            })
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Close</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Save</button>
    </div>

}

